<!-- templates/home.html -->
{% extends 'blog/base.html' %}
{% block content %}

{% if last_posts|length == 0 %}
	<img src="{{ static_url }}images/dipper_ups.jpg" alt="">
{% else %}
	{% for posts in data_from_groups %}
		<div class="single_post_content">	
		{% if posts|length %}
			{% with posts|random as random_post %}
			<h2><span>{{ random_post.group }}</span></h2>
			<div class="single_post_content_left">
				<ul class="business_catgnav  wow fadeInDown">
				<li>
					<figure class="bsbig_fig"> <a href="{% url 'post_detail' random_post.id %}" class="featured_img">
						{% if random_post.image %}
							<img alt="" src="{{ random_post.image.url }}">
						{% else %}
							<img alt="" src="{{ static_url }}images/noimg.jpg">
						{% endif %}
						<span class="overlay"></span> </a>
						<figcaption> <a href="{% url 'post_detail' random_post.id %}" class="featured_img">{{ random_post }}</a> </figcaption>
					</figure>
					</li>
			  </ul>
			</div>
			{% endwith %}
		{% endif %}

		<div class="single_post_content_right">
		  <ul class="spost_nav">
			{% for post in posts %}
				<li>
				  <div class="media wow fadeInDown"> <a href="{% url 'post_detail' post.id %}" class="media-left">
					{% if post.image %}
						<img alt="" src="{{ post.image.url }}">
					{% else %}
						<img alt="" src="{{ static_url }}images/noimg.jpg">
					{% endif %}				  
						</a>
					<div class="media-body"> <a href="{% url 'post_detail' post.id %}" class="catg_title"> {{ post.title }}</a> </div>
				  </div>
				</li>				
			{% endfor %}
		  </ul>
		</div>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}