<li class="active"><a href="index.html"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <!--<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
              <!--<li><a href="#">Android</a></li>-->
              <!--<li><a href="#">Samsung</a></li>-->
              <!--<li><a href="#">Nokia</a></li>-->
              <!--<li><a href="#">Walton Mobile</a></li>-->
              <!--<li><a href="#">Sympony</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <li><a href="/">Контакты</a></li>
          <li><a href="/">Обо мне</a></li>