{% if top_rating_posts|length == 0 %}
	<li><img src="{{ static_url }}images/dipper-ups100_100.jpg" alt=""></li>
{% else %}
	{% for post in top_rating_posts %}
	<li>
		<div class="media wow fadeInDown"> <a href="{% url 'post_detail' post.id %}" class="media-left">
		{% if post.image %}
			<img alt="" src="{{ post.image.url }}" alt="">
		{% else %}
			<img alt="" src="{{ static_url }}images/noimg.jpg">
		{% endif %}	</a>
		  <div class="media-body"> <a href="{% url 'post_detail' post.id %}" class="catg_title">{{ post.title }}</a> </div>
		</div>
	  </li>
	{% empty %}
		<li>
		<img src="{{ static_url }}images/dipper-ups100_100.jpg" alt="">
		</li>
	{% endfor %}
{% endif %}